<div class="excercises-container">
  <mat-toolbar class="nav-toolbar" color="accent" [class.nav-toolbar-mobile]="(isHandset | async)!.matches">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="(isHandset | async)!.matches">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span>Pull Up</span>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [class.sidenav-container-mobile]="(isHandset | async)!.matches">
    <!-- [opened]="!(isHandset | async)!.matches" [fixedTopGap]="(isHandset | async)!.matches ? 136 : 144"> -->
    <mat-sidenav #drawer class="sidenav" fixedInViewport="false" [attr.role]="isHandset ? 'dialog' : 'navigation'" [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
      [opened]="!(isHandset | async)!.matches" [class.mat-sidenav-mobile]="(isHandset | async)!.matches">
      <mat-nav-list>

        <mat-accordion multi="true" displayMode="flat">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Shoulders
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
              <li></li>
              <li>2</li>
              <li>2</li>
              <li>2</li>
              <li>2</li>
              <li>2</li>
              <li>2</li>
              <li>2</li>
            </ul>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Triceps
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
              <li>1</li>
              <li>2</li>
              <li>2</li>
              <li>2</li>
              <li>2</li>
              <li>2</li>
              <li>2</li>
              <li>2</li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>