.sidenav-container {
  /* height: 100%; */
  width: 100%;
  position: absolute;
  top: 144px;
  overflow: visible;
}

.sidenav-container-mobile {
  top: 136px;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
  /* position: fixed; */
  top: 144px;
  top: 0px;
  position: absolute;
  /* max-height: 100vh; */
}

.mat-sidenav-mobile {
  /* top: 136px; */
  top: 0px;
}

.nav-toolbar {
  height: 80px;
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  z-index: 2;
}

.nav-toolbar-mobile {
  top: 56px !important;
}

.sidenav-button {
  padding: 10px 15px;
  font-weight: 700;
  line-height: 16px;
  margin: 0;
  font-size: 13px;
  cursor: pointer;
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  background: 0 0;
  border: none;
}

.sidenav-button mat-icon {
  position: absolute;
  right: 5px;
  font-size: 18px;
}

mat-accordion ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.excercises-container {
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
}

mat-sidenav-content {
  overflow: visible;
}

mat-nav-list {
  padding: 0px;
}