.card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 10px;
  margin: auto;
  justify-content: flex-start;
}

.card {
  text-align: center;
  width: 125px;
  display: inline-block;
  margin: 20px;
  cursor: pointer;
}

.card:hover {
  background: rgba(255,255,255,.04);
}