<mat-card>
  <mat-card-content>
    <!-- <h2 class="example-h2">Tabs with text labels</h2> -->
    <mat-tab-group class="tab-group">
      <mat-tab label="OVERVIEW">
        <div class="tab-content">
          <p>Add description</p>
          <hr>
          <p>Add images?</p>
          <hr>
          <p>Add differculty?</p>
        </div>
      </mat-tab>
      <mat-tab label="VIDEO">
        <div class="tab-content">
          <p>add youtube videos</p>
          <hr>
          <p>more videos, embeded</p>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>