<!-- <app-workout-item></app-workout-item>
<app-workout-item></app-workout-item>
<app-workout-item></app-workout-item> -->

<div class="workout-item-list-container" fxLayout="column" fxLayoutGap="0">
  <app-workout-item [set]="1" [weight]="45.0" [reps]="10"></app-workout-item>
  <app-workout-item [set]="2" [weight]="15.0" [reps]="2"></app-workout-item>
  <app-workout-item [set]="3" [weight]="90.0" [reps]="12"></app-workout-item>
  <app-workout-item [set]="4" [weight]="180.0" [reps]="6"></app-workout-item>
</div>