/* Side Nav */
.sidenav-container {
  width: 100%;
  position: absolute;
  top: 80px;
  overflow: visible;
  left: 0px;
  right: 0px;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
  top: 0px;
  position: absolute;
}

.sidenav-fixed-top {
  position: fixed;
}

.nav-toolbar {
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.sidenav-button {
  padding: 10px 15px;
  font-weight: 700;
  line-height: 16px;
  margin: 0;
  font-size: 13px;
  cursor: pointer;
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  background: 0 0;
  border: none;
}

.sidenav-button mat-icon {
  position: absolute;
  right: 5px;
  font-size: 18px;
}

ul.exercise-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

li.exercise-item {
  list-style: none;
  padding: 0px;
  margin: 10px 0px;
  /* TODO add nice border/background */
  border-bottom: 1px solid white;
  cursor: pointer;
}

li.exercise-item:hover {
  /* TODO add nice border/background */
  background-color: gray;
}

mat-sidenav-content {
  overflow: visible;
  min-height: 100vh;
}

mat-nav-list {
  padding: 0px;
}

.capitalize {
  text-transform: capitalize;
}
