<div class="exercises-container">
  <mat-toolbar class="nav-toolbar" color="primary" [class.nav-toolbar-mobile]="(isHandset | async)!.matches">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenav.toggle()" *ngIf="(isHandset | async)!.matches">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span class="capitalize">{{ page_title }}</span>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [class.sidenav-container-mobile]="(isHandset | async)!.matches">
    <mat-sidenav appFixedtop #sidenav class="sidenav mat-elevation-z10" fixedInViewport="false" [attr.role]="isHandset ? 'dialog' : 'navigation'"
      [mode]="(isHandset | async)!.matches ? 'over' : 'side'" [opened]="!(isHandset | async)!.matches">

      <mat-nav-list>
        <mat-accordion multi="true" displayMode="flat">
          <mat-expansion-panel *ngFor="let muscle of muscles">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ muscle.category }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="exercise-list">
              <ng-container *ngFor="let exercise of exercises">
                <!-- TODO simplify routerLink -->
                <li class="exercise-item" *ngIf="exercise.category === muscle.category" [routerLink]="['/', 'exercises', 'categories', exercise.category, exercise.name]"
                  (click)="sideNavMobileToggle()">
                  {{ exercise.name }}
                </li>
              </ng-container>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>