<div class="excercises-container">
  <mat-toolbar class="nav-toolbar" color="accent" [class.nav-toolbar-mobile]="(isHandset | async)!.matches">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenav.toggle()" *ngIf="(isHandset | async)!.matches">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span>Pull Up</span>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [class.sidenav-container-mobile]="(isHandset | async)!.matches">
    <!-- [opened]="!(isHandset | async)!.matches" [fixedTopGap]="(isHandset | async)!.matches ? 136 : 144"> -->
    <mat-sidenav appFixedtop #sidenav class="sidenav mat-elevation-z10" fixedInViewport="false" [attr.role]="isHandset ? 'dialog' : 'navigation'"
      [mode]="(isHandset | async)!.matches ? 'over' : 'side'" [opened]="!(isHandset | async)!.matches">

      <mat-nav-list>
        <mat-accordion multi="true" displayMode="flat">
          <mat-expansion-panel *ngFor="let muscle of muscle_list | keys">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ muscle }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="excercise-list">
              <li class="excercise-item" *ngFor="let excercise of muscle_list[muscle]">
                {{ excercise }}
              </li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <!-- TODO make excercise content -->
      <app-excercise-content></app-excercise-content>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>