/* You can add global styles to this file, and also import other style files */

/* Angular Material Styles

deeppurple-amber.css
indigo-pink.css
pink-bluegrey.css
purple-green.css 

*/
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';


/* angular-cli file: src/styles.css, angular calendar */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

html, 
body {
  padding: 0px;
  margin: 0px;
}

.main {
  position: relative;
  top: 64px;
}

.main-mobile {
  position: relative;
  top: 56px !important;
}


/* demo calendar */
mwl-demo-component {
  position: relative;
  top: 25px;
}